.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #3c4043;
}

.local_stream{
  border-radius: 4vh;
}

.meeting-icons{
  width: 7vh;
  background: white;
  height: 7vh;
  border-radius: 2vh;
  text-align: center;
  padding: 1vh; 
}